.card-wrapper-1,
.card-wrapper-2,
.card-wrapper-3,
.card-wrapper-4,
.card-wrapper-5,
.card-wrapper-6,
.card-wrapper-7,
.card-wrapper-8,
.card-wrapper-9 {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin: 0 0 50px 0;
}

.share-icon {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.share-icon .share-link {
    text-decoration: none;
}

.share-icon .share-link img:hover {
    width: 15px;
    transition: width 2s;
}

.card-wrapper-1,
.card-wrapper-2,
.card-wrapper-3,
.card-wrapper-4,
.card-wrapper-5,
.card-wrapper-6,
.card-wrapper-7,
.card-wrapper-8 {
    display: flex;
    flex-direction: column;
}

/*ALL IMAGES GOTTEN FROM PEXELS (https://www.pexels.com/search/cars/)*/
.card-wrapper-1 {
    background-image: url('../images/car-1.jpeg');
}

.card-wrapper-2 {
    background-image: url('../images/car-2.jpeg');
}

.card-wrapper-3 {
    background-image: url('../images/car-3.jpeg');
}

.card-wrapper-4 {
    background-image: url('../images/car-4.jpeg');
}

.card-wrapper-5 {
    background-image: url('../images/car-5.jpeg');
}

.card-wrapper-6 {
    background-image: url('../images/car-6.jpeg');
}

.card-wrapper-7 {
    background-image: url('../images/car-7.jpeg');
}

.card-wrapper-8 {
    background-image: url('../images/car-8.jpeg');
}

.card-wrapper-1,
.card-wrapper-2,
.card-wrapper-3,
.card-wrapper-4,
.card-wrapper-5,
.card-wrapper-6,
.card-wrapper-7,
.card-wrapper-8 {
    background-repeat: no-repeat;
    background-color: #B80C09;
    background-position: center;
    background-size: cover;
}

.card-wrapper-2 .text-content .title,
.card-wrapper-5 .text-content .title,
.card-wrapper-6 .text-content .title,
.card-wrapper-7 .text-content .title {
    font-size: 12px;
}

@media screen and (min-width: 992px) {

    .card-wrapper-1,
    .card-wrapper-2,
    .card-wrapper-3,
    .card-wrapper-4,
    .card-wrapper-5,
    .card-wrapper-6,
    .card-wrapper-7,
    .card-wrapper-8 {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .card-wrapper-1 {
        grid-column: 1/4;
        grid-row: 1/3;
    }

    .card-wrapper-2 {
        grid-column: 4/5;
        grid-row: 1/2;
    }

    .card-wrapper-3 {
        grid-column: 5/7;
        grid-row: 1/3;
    }

    .card-wrapper-4 {
        grid-column: 1/4;
        grid-row: 3/5;
    }

    .card-wrapper-5 {
        grid-column: 4/5;
        grid-row: 2/4;
    }

    .card-wrapper-6 {
        grid-column: 5/6;
        grid-row: 3/4;
    }

    .card-wrapper-7 {
        grid-column: 6/7;
        grid-row: 3/4;
    }

    .card-wrapper-8 {
        grid-column: 4/7;
        grid-row: 4/5;
    }
}