@import "card.css";

body {
    padding: 0;
    margin: 0;
    font-family: 'Questrial', sans-serif;
}

/* 
.wrapper {
    padding: 10px;
} */

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    background-color: #B80C09;
    width: 100%
}

.nav-list {
    list-style-type: none;
    display: flex;
}

.nav-item {
    padding: 0 15px 0 0;
    font-weight: 800;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
}

.nav-item a:hover {
    text-decoration: underline wavy #F1D302;
}

.nav-item a:active {
    color: #31081F;
}

.main-content {
    padding: 10px 15px;
}

.blog-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}

.blog-title h1 {
    text-decoration: underline #B80C09;
}

.card-wrapper-1,
.card-wrapper-2,
.card-wrapper-3,
.card-wrapper-4,
.card-wrapper-5,
.card-wrapper-6,
.card-wrapper-7,
.card-wrapper-8 {
    display: flex;
    flex-direction: column;
}

.card-wrapper-1 {
    background-image: url('../images/car-1.jpeg');
    background-repeat: no-repeat;
    background-color: #B80C09;
    background-position: center;
    background-size: cover;
}

.card-wrapper-1 {
    background-image: url('../images/car-1.jpeg');
    background-repeat: no-repeat;
    background-color: #B80C09;
    background-position: center;
    background-size: cover;
}

.card-wrapper-1 {
    background-image: url('../images/car-1.jpeg');
}

.card-wrapper-2 {
    background-image: url('../images/car-2.jpeg');
}

.card-wrapper-3 {
    background-image: url('../images/car-3.jpeg');
}

.card-wrapper-4 {
    background-image: url('../images/car-4.jpeg');
}

.card-wrapper-5 {
    background-image: url('../images/car-5.jpeg');
}

.card-wrapper-6 {
    background-image: url('../images/car-6.jpeg');
}

.card-wrapper-7 {
    background-image: url('../images/car-7.jpeg');
}

.card-wrapper-8 {
    background-image: url('../images/car-8.jpeg');
}

.card-wrapper-1,
.card-wrapper-2,
.card-wrapper-3,
.card-wrapper-4,
.card-wrapper-5,
.card-wrapper-6,
.card-wrapper-7,
.card-wrapper-8 {
    background-repeat: no-repeat;
    background-color: #B80C09;
    background-position: center;
    background-size: cover;
}

.content a {
    text-decoration: none;
    color: #B80C09;
}

.content a:hover {
    color: #F1D302;
}

.text-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 8px 0;
}

.date,
.title,
.seperator {
    padding-right: 10px;
}

.seperator img {
    width: 10px;
}

.card-wrapper-2 .text-content .title,
.card-wrapper-5 .text-content .title,
.card-wrapper-6 .text-content .title,
.card-wrapper-7 .text-content .title {
    font-size: 12px;
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {
    .main-content {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: minmax(150px, auto);
        gap: 5px 10px;
        margin: 0 auto;
    }

    .text-content .title {
        font-weight: 700;
        font-size: 20px;
    }
}